.back-link{
  color:#09193e;
}
.back-link:hover{
  color:#c3ccdb;
}
.back-to-login{
    color:#09193e;
}
.back-to-login:hover{
    color:#e3e8f3;
}
.login-footer{
    padding-top:2mm;
}
.login-subtitle{
    padding-bottom:-1rem;
}
.login-header-lp{
    padding-bottom:0.5rem;
}
.input-wrapper-fp{
    padding-top:1rem;
}